<% list.tasks.each do |task| %>
  <div id="<%= dom_id(task) %>" 
        data-sortable-url="<%= update_position_path(task) %>"
        data-list-id="<%= list.id %>"
        class="task-item">
    <%= render task %>
  </div>
<% end %>