<% list.tasks.each do |task| %>
  <div class="task-item-container" 
       data-sortable-url="<%= update_position_path(task) %>"
       data-list-id="<%= list.id %>">
    <%= render task %>
  </div>
<% end %>