<%= turbo_stream_from "task_changes" %>

<div data-controller="turbo-reload">
  <turbo-frame id="lists-content">
    <div class="lists-container" data-controller="sortable">
      <% @lists.each do |list| %>
        <%= render "list", list: list %>
      <% end %>
    </div>
  </turbo-frame>
</div>