<h1>My Lists</h1>

<%# Place all stream subscriptions at the top of the page %>
<%#= turbo_stream_from "lists" %>
<%# @lists.each do |list| %>
  <%#= turbo_stream_from list %>
<%# end %>

<div class="lists-container"> <!-- Use whatever class you had before -->
  <% @lists.each do |list| %>
    <%= render "list", list: list %>
  <% end %>
</div>