<strong>Hello there monkeyhead!</strong>
<p>
  You have a new task to complete. Here are the details:
</p>
<p>
  <strong>Task:</strong> <%= @task.title %><br />
  <strong>Description:</strong> <%= @task.description %><br />
</p>
<p>
  Please complete this task by the due date.
</p>