<turbo-frame id="new-task-frame-<%= list_id %>">
  <div class="create-task-button">
    <a href="<%= new_task_path(list_id: list_id) %>" data-turbo-frame="new-task-frame-<%= list_id %>">
      + Create new task
    </a>
  </div>
</turbo-frame>