<div id="<%= dom_id task %>">
  <h2>
    <%= link_to task.title, task %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

</div>
