/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .text-right {
  text-align: right;
}

.user-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adjust the gap as needed */
}

.user-email {
  margin-right: auto;
}

.btn {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.field-container {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
}

.field {
  flex: 1;
}

.lists-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.list {
  flex: 0 0 300px;
  background: #f0f0f0;
  border-radius: 5px;
  margin-right: 1rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.categories-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.category-checkbox {
  display: inline-flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.2s;
}

.category-checkbox:hover {
  background-color: #e9e9e9;
}

.category-checkbox-input {
  margin-right: 5px;
}

.category-checkbox-label {
  font-size: 14px;
  cursor: pointer;
}

.task-list-item.new-task-button {
  text-align: center;
  padding: 10px;
  border: 1px dashed #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.task-list-item.new-task-button a {
  text-decoration: none;
  color: #666;
  display: block;
}

.task-list-item.new-task-button:hover {
  background-color: #f9f9f9;
}

.task-list-item form {
  display: flex;
  padding: 10px;
  gap: 8px;
  align-items: center;
}

.task-list-item form input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.create-task-button {
  margin-top: 10px;
  padding: 8px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.create-task-button a {
  text-decoration: none;
  color: #666;
  display: block;
}

.create-task-button:hover {
  background-color: #f5f5f5;
}