/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .text-right {
  text-align: right;
}


.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-email {
  margin-right: auto;
}
.btn {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
.btn-primary {
  background-color: #007bff;
  color: white;
}
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.field-container {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
}

.field {
  flex: 1;
}